.case {
    font-style: normal;
    font-weight: normal;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12);
    color: #000000;

  h1 {
    font-family: Avenir;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.3em;
  }

  h2 {
    font-family: Avenir;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    letter-spacing: 0.1em;
  }

  h3 {
    font-family: Avenir Next;
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */
    letter-spacing: 0.15em;

  }
  p {
    font-family: Avenir Next;
    font-size: 14px;
    text-align: justify;
    line-height: 19px;
    margin: 0;
  }

  .case-title {
    display:flex;
    justify-content: space-between;

    .btn {
      margin-left: 10px;
    }
    #delete-btn {
      width: 140px;
    }
  }

  .case-description {
    margin-top: 60px;
  }

  .case-infringements {
    margin-top: 60px;
  }

  .box-description {
    display:flex;
    justify-content: flex-start;
  }

  .info-group {
    display: flex;
    justify-content: flex-start;
    // width: 1700px;
    height: 70px;

    .basic-info-legend {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 40px;
      white-space: nowrap;
    }

    .basic-info-values {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 40px;
      white-space: nowrap;

      // border-right: 1px solid #000000;

    }
  }

  .description-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 40px;
    border-left: 1px solid #000000;


    .basic-info-legend-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 6px;
      // height: 70px;
    }

    .basic-info-description {
      font-family: Avenir Next;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #000000;
    }
  }

  .case-infr-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .case-infr-btn {
      display: flex;
      justify-content: flex-end;
    }

    // .btn {
    //   margin-right: 0px;
    //   margin-bottom: 0;
    // }
  }

  .case-infringements-cards {
    display: flex;
    justify-content: flex-start;
  }

}
