.case-title-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  .button {
    width: 140px;
  }
}

.case {
  padding: 29px;
  .case-title {
    display:flex;
    justify-content: space-between;
    .btn {
      margin-left: 10px;
    }
    #delete-btn {
      width: 140px;
    }
  }
  .case-information-box {
    display: flex;
  }
  .case-description {
    position: relative;
    margin-top: 30px;
    border-radius: 4px;
    background-color: $infobox;
    padding: 20px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
    //padding-bottom: 3vw;
  }
  .case-infringements {
    margin-top: 50px;
  }
  .box-description {
    display:flex;
    justify-content: flex-start;
  }
  .info-group {
    display: flex;
    justify-content: flex-start;
    height: 80px;
    .basic-info-legend {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 40px;
      white-space: nowrap;
    }
    .basic-info-values {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 40px;
      white-space: nowrap;
    }
  }
  .description-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 40px;
    padding-right: 16px;
    border-left: 1px solid #000000;

    .basic-info-legend-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 6px;
    }
    .basic-info-description {
      overflow: hidden;
      /* for set '...' in absolute position */
      position: relative;
      /* use this value to count block height */
      line-height: 1.2em;
      /* max-height = line-height (1.2) * lines max number (3) */
      max-height: 3.1em;
      /* fix problem when last visible word doesn't adjoin right side  */
      text-align: justify;
      /* place for '...' */
      margin-right: -1em;
      padding-right: 1em;
      &:hover {
        overflow: visible;
        max-height: 100%;
        &::before {
          content: '';
        }
      }
    }
    .basic-info-description:before {
      /* points in the end */
      content: '...';
      /* absolute position */
      position: absolute;
      /* set position to right bottom corner of block */
      right: -1px;
      bottom: 5px;
    }
    /* hide ... if we have text, which is less than or equal to max lines */
    .basic-info-description:after {
      /* points in the end */
      content: '';
      /* absolute position */
      position: absolute;
      /* set position to right bottom corner of text */
      right: 0;
      /* set width and height */
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      /* bg color = bg color under block */
      background: white;
    }
  }
  .case-infr-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .case-infr-btn {
      display: flex;
      justify-content: flex-end;
    }
    h3 {
      margin: 0;
    }

    #form_button {
      margin: 0;
    }
  }
  .case-infringements-cards {
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

#delete-icon {
  font-size: 32px;
  color: #4F44DE;
  opacity: 0.5;
}

.description-links-case {
  &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
}
  .description-icons-case {
    color: black;
    //opacity: 0.5;
    height: 25px;
    margin-right: 10px;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

#delete-icon:hover {

  opacity: 1.0;
}

#form_button_edit:hover {
  opacity: 1.0;
}
