*:hover {
  text-decoration: none;
}

.cases {
  padding: 29px;
}

.mainbox-cases {
  display:flex;
  justify-content:flex-end;
}

.window-cases {
  flex-grow: 1;
  overflow: none;
}

.sidebar-cases {
  width: 290px;
  margin-left: 50px;
}

.statistics-cases {
  width: 100%;
  background-color: $infobox;
  padding: 15px 30px;
  border-radius: 3px;
  font-size: 15px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);

  .statistics-details-cases {
      margin-top: 7px;
      display: flex;
    }

  .basic-info-legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;
    height: 70px;
    width: 150px;
    }

    .basic-info-values {
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      height: 70px;
    }
}

.latest-cases {
  margin-top: 20px;

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .latest-title-cases {
    margin-bottom: 10px;
  }
}

.dashboard-title {
  background-color: $infobox;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
  grid-gap: 20px;
  background-color: $infobox;
  padding: 20px;
  padding-bottom: 15px;
  margin-top: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.dash-item {
  width: 100%;
  text-align: center;
  border-style: solid;
  border-color: #AAA;
  border-width: 2px;
  background-color: white;
  border-radius: 6px;
}
.dash-item img {
  max-width:100%;
  max-height:auto;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  filter: grayscale(50%);

  &:hover{
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.18);
    filter: grayscale(0%);
  }
    &:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.18);
  }
}
.dash-item p {
  text-align: center;
}

.open-cases-top-bar {
  /* Open Cases and the CREATE new case button at top of page */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.case-container-card {
  background-color: #fcfcff;
  //height: 90px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //align-items: center;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #CCC;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
  //box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12);

  &:hover {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.18);
    opacity: 1.0;
  }

  &:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.18);
  }

}

.case-top-card {
  padding: 10px 20px;
  //padding-bottom: 5px;
  background-color: $infobox;
}

.case-bottom-card {
  padding: 10px 20px;
  //padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  opacity: 0.8;
}


.case-info-box {
  //padding: 10px;
  justify-content: space-between;
  align-items: center;
  //overflow: scroll;
}

.case-info-box-legend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 10px;
  //ine-height: 20px;
}

.case-info-box-values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //line-height: 15px;
}

.first {
  //padding: 15px 20px;

  width: 40%;
  display: flex;
  justify-content: flex-start;
  // a {
  //   color: black;

  //   font-weight: 400;
  //   font-size: 18px;
  //   line-height: 20px;
  //   text-decoration: none;
  // }
}
.third {
  //padding: 15px 20px;
  display: flex;
  justify-content: flex-start;
  border-left: 1px solid black;
  padding-left: 25px;
  width: 30%;
}

.fourth {
  display: flex;
  justify-content: flex-start;
  border-left: 1px solid black;
  padding-left: 25px;
  width: 30%;
}

.horizontal-line {
  width: 1%;
  //height: 80px;
  border-right-style: solid;
  border-width: 1px;
  border-color: $lightgray;
}


.link-to-text-decoration {
  a:hover {
    text-decoration: none;
    color: black;
  }
}

.case-title {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

#h5-style {

  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
