.case {

  padding: 29px;

  .case-title {
    display:flex;
    justify-content: space-between;

    .btn {
      margin-left: 10px;
    }
    #delete-btn {
      width: 140px;
    }
  }

  .case-description {
    margin-top: 70px;
  }

  .case-infringements {
    margin-top: 80px;
  }

  .box-description {
    display:flex;
    justify-content: flex-start;
  }

  .info-group {
    display: flex;
    justify-content: flex-start;
    // width: 1700px;
    height: 80px;

    // span {
    //     padding-bottom: 4px;
    //   }

    .basic-info-legend {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 40px;
      white-space: nowrap;
    }

    .basic-info-values {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 40px;
      white-space: nowrap;
      //border-right: 1px solid #000000
    }
  }

  .description-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 40px;
    padding-right: 16px;
    border-left: 1px solid #000000;

    .basic-info-legend-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 6px;
    }

    .basic-info-description {
      overflow: hidden;
      /* for set '...' in absolute position */
      position: relative;
      /* use this value to count block height */
      line-height: 1.2em;
      /* max-height = line-height (1.2) * lines max number (3) */
      max-height: 3.1em;
      /* fix problem when last visible word doesn't adjoin right side  */
      text-align: justify;
      /* place for '...' */
      margin-right: -1em;
      padding-right: 1em;

      &:hover {
        overflow: visible;
        background-color: white;
        max-height: 100%;

        &::before {
          content: '';
        }
      }
    }

    .basic-info-description:before {
      /* points in the end */
      content: '...';
      /* absolute position */
      position: absolute;
      /* set position to right bottom corner of block */
      right: -1px;
      bottom: 5px;

    }
    /* hide ... if we have text, which is less than or equal to max lines */
    .basic-info-description:after {
      /* points in the end */
      content: '';
      /* absolute position */
      position: absolute;
      /* set position to right bottom corner of text */
      right: 0;
      /* set width and height */
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      /* bg color = bg color under block */
      background: white;
    }

  }

  .case-infr-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .case-infr-btn {
      display: flex;
      justify-content: flex-end;
    }

    h3 {
      margin: 0;
    }

    #form_button {
      margin: 0;
    }
  }

  .case-infringements-cards {
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

}
