
// TODO - Reid: Add homepage animation after new homepage created
// #grey_triangle {  }

#title {
  position: absolute;
  top: 53vh;
  left: 4vh;
  h1 {
    font-size: 80px;
  }
}

#logo {
  position: absolute;
  top: 66vh;
  left: 4vh;
  h2{
    /* platform to document and protect your copyright online */
    color: white;
  }
  span {
    color: #4E43DE;
  }
}

.frontpage {
  background-image: image-url('background.svg');
  background-size: cover;
  height: 122vh;
}

.doggy-image {
  height: 550px;
}

.frontpage-doggy {
  position: absolute;
  bottom: 50px;
  right: 22vw;
}


.login-signin-bar {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 30px;
}

.new_user {
  display: flex;
  align-content: center;
}

.or {
  position: static;
  margin-left: 30px;
}


#home-input {
  position: relative;
  margin-right: 30px;
  margin-left: 30px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  transition-duration: 1s;
  outline: none;
  &:hover {
    background-color: #DDD;
  }
}

#home-input:hover {
  // background-color: #eaeaea;
}


.how-it-works-flexcontainer {
  display: flex;
}

.how-it-works-card {
  background: white;                       /* White background */
  padding: 40px 120px;                     /* Internal space */
  border-radius: 4px;                      /* Small radius */
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.h2-p-hiw-card {
  padding-bottom: 30px;
  margin-left: 8vw;
}

.text-color {

}

.img-hiw-card {
  display: flex;
  justify-content: center;
}


#img-style {
  border-radius: 4px;
  width: 250px;
}

.icon-size {
  font-size: 80px;
}


#p-style {
  font-size: 24px;
  line-height: 40px;

}

#h2-style {
  font-size: 36px;
  padding-bottom: 20px;
  text-style: bold;
}


