
// TODO - Reid: Add homepage animation after new homepage created
// #grey_triangle {  }


.frontpage img {
  width: 100%;
  margin-bottom: 3vh;
}


.cases-button {
  background-color: white;
  font-size: 2vw;
  border-radius: 6px;
  position: absolute;
  top: 78vh;
  right: 21vw;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  transition: 0.6s;
  &:hover {
    background-color: $lightpurple;
    text-decoration: none;
  }
}

.row-home {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.card-home {
  width: 68%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.card-text-home {
  h2 {
    font-size: 34px;
    letter-spacing: 0.05rem;
    font-weight: 600;
    margin-bottom: 30px;
  }
  p {
    font-size: 20px;
    letter-spacing: 0.05rem;
    margin-bottom: 16px;
  }
}


.login-signin-bar {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 30px;
}
.new_user {
  display: flex;
  align-content: center;
}
.or {
  position: static;
  margin-left: 30px;
}


#home-input {
  position: relative;
  margin-right: 30px;
  margin-left: 30px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  transition-duration: 1s;
  outline: none;
  &:hover {
    background-color: #DDD;
  }
}


.how-it-works-flexcontainer {
  display: flex;
}

.how-it-works-card {
  background: white;                       /* White background */
  padding: 40px 120px;                     /* Internal space */
  border-radius: 4px;                      /* Small radius */
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.h2-p-hiw-card {
  padding-bottom: 30px;
  margin-left: 8vw;
}

.text-color {

}

.img-hiw-card {
  display: flex;
  justify-content: center;
}


#img-style {
  border-radius: 4px;
  width: 250px;
}

.icon-size {
  font-size: 80px;
}


#p-style {
  font-size: 24px;
  line-height: 40px;

}

#h2-style {
  font-size: 36px;
  padding-bottom: 20px;
  text-style: bold;
}


