
// TODO - Reid: Add homepage animation after new homepage created
// #grey_triangle {  }

#title {
  position: absolute;
  top: 53vh;
  left: 4vh;
}

.home-logo-button {
  /* Styling for the upper left logo and CERBERUS title HOME button */
  
}

.welcome-title-box {
  /* The main welcome banner in the center of the home page */
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;
  overflow: auto;

  h1 {
    /* Welcome to CERBER.US */
    font-size: 66px;
    letter-spacing: 0.05em;
  }
}

#logo {
  position: absolute;
  top: 66vh;
  left: 4vh;
  h2{
    /* platform to document and protect your copyright online */
    color: white;
  }
  span {
    color: #4E43DE;
  }
}

.frontpage {
  background-image: url('background.svg');
  background-size: cover;
  height: 95vh;
}

.doggy-image {
  height: 200px;
}

.frontpage-doggy {
  position: absolute;
  bottom: 20px;
  right: 20px;
}


.login-signin-bar {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 30px;
}

.new_user {
  display: flex;
  align-content: center;
}

.or {
  position: static;
  margin-left: 30px;
}

.login-signup-buttons {
  /* Styling around the signup and login buttons */
  color: black;
  background-color: white;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px 20px 10px 20px;
  transition: 0.3s;
  &:hover {
    color: black;
    text-decoration: none;
    background-color: #eaeaea;
  }
}

#home-input {
  position: relative;
  margin-right: 30px;
  margin-left: 30px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  transition-duration: 1s;
  outline: none;
  &:hover {
    background-color: #DDD;
  }
}

#home-input:hover {
  background-color: #eaeaea;
}


.catchphrase-box {
  background-color: #1f1f1f;
  height: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 800px;
}

#catchphrase {
  color: white;
  font-size: 64px;
  font-weight: bold;
  align-item: center
}

#catchphrase-black {
  color: black;
}
.catchphrase-text-container {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.how-it-works-flexcontainer {
  display: flex;
}

.how-it-works-card {
  background: white;                         /* White background */
  padding: 40px 120px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.h2-p-hiw-card {
  padding-bottom: 30px;
}

.text-color {

}

.img-hiw-card {
  display: flex;
  justify-content: center;
}


#img-style {
  border-radius: 4px;
  width: 250px;
}

.icon-size {
  font-size: 80px;
}

#h1-style {
  font-size: 48px;
  font-weight: bold;
}

#hiw-1 {
  background-color: #EAEAEA;
}

#hiw-3 {
  background-color: #EAEAEA;
}

#hiw-2 {
  flex-direction: row-reverse;
}

#p-style {
  font-size: 24px;
}

#h2-style {
  font-size: 36px;
  text-align: center;
}

#text-dec {
  list-style:none;
  line-height: 2.5;
  padding-left: none;
}

#li-dec {

}
