.infringement {
  padding: 29px;

  .infringement-title-box {
    display: flex;
    justify-content: space-between;

    .infringement-title {
      margin-bottom: 20px;
    }

    .btn-margin-right {
      margin-right: 10px;
    }

    #btn-delete-infringement {
      width: 200px;
    }
  }



  .infringement-snapshot-titlebox {
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;

    .infringement-snapshot-titlebox-title  {
      width: 245px;
    }

    .select-container {
      display: flex;
      justify-content: flex-start;
      margin-left: 30px;
    }

    .select-empty {
      width: 100%;
    }

    .select-menu-infringement {
      visibility: hidden;
      padding: 0px 5px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 2px dotted #c6c4ed;
      border-radius: 3px;
      height: 50px;

      .selected-icon {
        margin-left: 5px;
        margin-right: 10px;
        font-size: 15px;
      }

      .selected-text {
        white-space: nowrap;
        font-size: 15px;
      }

      .selected-divider {
        //border-left: 1px solid black;
        margin: 5px 15px;

        height:80%;
      }

      .btn-blue {
        white-space: nowrap;
        padding: 4px 10px;
        font-size: 14px;
        margin: 0px 5px;
        width: 130px;
        transition: none;
      }

    }
  }

  .infringement-info {
    width: 100%;
    background-color: $infobox;
    padding: 15px;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);

    .infringement-info-details {
      margin-top: 7px;
      display: flex;
    }

    .basic-info-legend {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 10px;
      height: 70px;
    }

    .basic-info-values {
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-right: 20px;
      height: 70px;
    }

  }

  .btn-blue {
    width: 180px;
    margin: 0;
  }

  .btn-margin {
    margin-bottom: 10px;
  }

  .btn-margin-large {
    margin-bottom: 40px;
  }

  .select-margin {
    margin-bottom: 30px;
  }

  .infringement-buttons-general {
    margin-top: 10px;
    width: 100%;
    border: 2px dotted #c6c4ed;
    padding: 15px;
    border-radius: 3px;
  }

  .infringement-side-and-snapshots {
    display: flex;
  }

  .infringement-snapshots {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    //border-left: 1px solid #000000;
    padding-left: 30px;

  }

  .infringement-sidebar {
    width: 245px;
    padding-right: 30px;
    position: sticky;
    top: 20px;
    height: 270px;
  }


}
