<div class="container">

<h1>Cases Page</h1>


<%= link_to 'CREATE NEW CASE', new_case_path, class:"btn btn-primary" %>

<h2>Open cases</h2>

<div class="cards">

<% @cases.each do |c| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= link_to c.name, case_path(c) %></h2>
      <p class="truncate-overflow"><%= c.description[0..200] %></p>
    </div>
  </div>
<% end %>

</div>

<h2>Archived cases</h2>

</div>
