<div class="container-1">
  <div class="welcome-title-box">
    <h1>Welcome to <strong>Cerberus</strong></h1>
    <h2>The platform to document and protect your copyrights online</h2>
    <div class="login-signin-bar">
      <div>
        <%= link_to 'Login', user_session_path, class: 'login-signup-buttons' %>
      </div>

      <div class="or">
        or
      </div>

      <form class="form-inline" action="<%= new_user_registration_path %>">
        <input id="home-input" type="email" placeholder="Enter your email here" name="email">
        <button class="login-signup-buttons" type="submit"> Sign Up </button>
      </form>

    </div>
  </div>

  <div class="how-it-works-flexcontainer">
    <div class="how-it-works-card" id="hiw-1">
      <div class="h2-p-hiw-card">
        <h2 id="h2-style">ISSUE</h2>
        <p id="p-style">For the copyright holder, showing a violation may prove difficult as the burden of prove lies with the victim.</p>
      </div>
      <div class="img-hiw-card">
        <img src="#" alt="" width="250px">
      </div>
    </div>
    <div class="how-it-works-card" id="hiw-2">
      <div class="h2-p-hiw-card">
        <h2 id="h2-style" >SOLUTION</h2>
        <p id="p-style">Take a screenshot of any website that violates your rights</p>
      </div>
      <div class="img-hiw-card">
        <img src="#" alt="" width="250px">
      </div>
    </div>
    <div class="how-it-works-card" id="hiw-3">
      <div class="h2-p-hiw-card">
        <h2 id="h2-style">CERBERUS</h2>
        <p id="p-style">Screenshot of entire webpage fully automatic and periodically & export collected screenshot(s)</p>
      </div>
      <div class="img-hiw-card">
        <img src="#" alt="" width="250px">
      </div>
    </div>
  </div>

  <div class="catchphrase-box">
    <div class="catchphrase-text-container">
      <span id="catchphrase">We can help<span id="catchphrase-black"> you </span>in proving a violation of<span id="catchphrase-black"> your client's </span> rights.</span>
    </div>
  </div>

</div>
