.btn-and-infringement {
  display: flex;
}


.flex-item-snapshots {
  display: flex;

  flex-wrap: wrap;
}


.snapshots-infringement {
  margin-bottom: 20px;
  border-left: 1px solid #000000;
  padding-left: 40px;

}

.infringement-page-buttons {
  margin-top: 20px;
  width: 360px;
  padding-right: 40px;
  position: sticky;
  top: 20px;
  height: 270px;
}
