.btn-ghost {
  color: black;
  background-color: $lightgray;
  border: 1px solid $darkgray;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.08);
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: lighter;
  transition: 0.3s;
  margin-bottom: 15px;
}

.btn-ghost:hover {
  background-color: $darkgray;
  // background-color: $darkblue;
  border: 1px solid #eaeaea;
}

.btn-ghost-w120px {
  width: 120px
}
