.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #000000;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12);
  padding: 8px 24px;
  border-radius: 2px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  margin-bottom: 15px;
}

.btn-ghost:hover {
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
}

.btn-ghost-w120px {
  width: 120px
}
