.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 230px;
  margin-top: 20px;
  margin-right: 20px;
  border: 1px solid #000000;
  padding: 0.5px;
  border-radius: 3px;
  position: relative;


  &:hover  .card-trip-checkcard {
    visibility: visible;
  }
}

.card-trip .card-trip-cl-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 42%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-checkcard {
  visibility: hidden;
  font-size: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 230px;
  height: 60px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background-image: linear-gradient(to top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.95) 100%);

  .card-trip-checkbox {
    cursor: pointer;
    margin-left:12px;
    margin-top: 4px;
    height: 10px;
    width: 10px;
    padding: 0;
  }
}

.card-trip-empty {
  overflow: hidden;
  background: white;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  width: 230px;
  margin-top: 20px;
  margin-right: 20px;
  border: 2px dashed #cccccc;
  padding: 0.5px;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  span {
    text-align: center;
    padding: 0px 20px;
    font-size: 17px;
    color: #aaaaaa;
  }

}
