.infr-card {
  width: 255px;
  height: 350px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  margin: 20px 0px;
}

.infr-card-image {
  width: 236px;
  height: 229px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-left: 9px;
  margin-right: 9px;
}
