.infr-card {
  width: 240px;
  height: 335px;
  background-color: #f5f4ff;

  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 10px 10px;
  filter: grayscale(60%);
  transition: all 0.2s ease;

  span {
    font-family: $body-font;
    font-weight: normal;
    font-size: 14px;
    text-align: justify;
    line-height: 24px;
    margin: 0;
    //color: #111111;
    letter-spacing: 0.02em;
    text-shadow: none;
  }

  a {
    text-decoration: none;
  }
  &:hover{
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.18);
    filter: grayscale(0%);
  }

  &:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.18);
  }
}

.infr-card-image {
  width: 238px;
  height: 233px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: white;


  img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.infr-card-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: 0.15em;

  color: #000000;

  // text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12);

  border-top: 1px solid #DDDDDD;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.infr-card-infobox {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 5px;


  font-size: 14px;
  line-height: 19px;

  color: #000000;

  // text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12);

  span {

    font-size: 13px;
    line-height: 20px;

    color: #000000;

    // text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.12);
    padding: 9px;


  }
}

.infr-card-infobox-a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 0px;

  border-right: 1px solid #000000;
  width: 120px;

}

.infr-card-infobox-b {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10px;

}

.infr-card-add {
  width: 240px;
  height: 335px;
  background-color: #f5f4ff;

  border: 2px dashed #aaaaaa;
  box-sizing: border-box;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  margin: 10px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(40%);
  transition: all 0.2s ease;

  font-size: 40px;
  color: #aaaaaa;

  a {
    text-decoration: none;
  }
  &:hover{
    cursor: pointer;
    background: #FFFFFF;
    color: #888888;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.18);
    filter: grayscale(0%);
  }

  &:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.18);
  }
}
