.latest-screenshot {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 290px;
  background-color: #f5f4ff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  filter: grayscale(60%);
  transition: all 0.2s ease;
  margin-bottom: 15px;

  &:hover {
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.18);
    filter: grayscale(0%);
  }

  &:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.18);
  }

  a {
    text-decoration: none;
    color: black;
  }

  .image-latest {
    width: 100px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    img {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }

  .info-latest {
    padding: 15px;
    width: 190px;

    .case-info-latest {
      font-weight: 500;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .url-info-latest {
      font-size: 14px;
    }

    .time-info-latest {
      font-size: 13px;
      color: $lightpurple
    }

  }
}
