#fancy_form .form-container {
}
/* The Modal (background) */
#fancy_form #show-form {
  margin: 0 auto;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 20px;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  min-width: 50%; /* Full width */
  min-height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: rgba(255,255,255,1);
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/* Modal Content/Box */
#fancy_form .show-form-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
#fancy_form .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#fancy_form .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


