<div class="container">
  <div class="case">
    <h1><%= @infringement.case.name %> (<%=  %>) </h1>
    <h2><%= @infringement.case.number %></h2>


      <h3>Basic Information</h3>
      <h3>Snapshots</h3>


</div>
